<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1068477489085-m0lt97oqm8p7m6la8576kukr963h3snb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068477489085-m0lt97oqm8p7m6la8576kukr963h3snb</string>
	<key>API_KEY</key>
	<string>AIzaSyAaq2YBvnHyZvtlJbFBUCl1PTn-YmX5Z08</string>
	<key>GCM_SENDER_ID</key>
	<string>1068477489085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alwazan.ammar.awaelschools000000</string>
	<key>PROJECT_ID</key>
	<string>alawaiilschoolsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>alawaiilschoolsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068477489085:ios:ca98ae5f1daf9153</string>
	<key>DATABASE_URL</key>
	<string>https://alawaiilschoolsapp.firebaseio.com</string>
</dict>
</plist>