<ion-header>

  <ion-toolbar>
    <ion-title>{{ item.name }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <ion-avatar class="center-img"
    *ngIf="item.image != '' && item.image != 'http://alawaail.com/images/staffs/default.png'; else temp">
    <img src="{{ item.image }}" class="circular" />
  </ion-avatar>
  <ng-template #temp>
    <ion-avatar class="center-img" *ngIf="item.gender == 'ذكر'">
      <img src="assets/imgs/avatar_man.jpg" class="circular">
    </ion-avatar>
    <ion-avatar class="center-img" *ngIf="item.gender == 'انثى'">
      <img src="assets/imgs/avatar_woman.jpg" class="circular">
    </ion-avatar>
  </ng-template>
  <h2 style="text-align:center;">{{ item.name }}</h2>
  <p style="text-align:center; margin-top:-10px;">{{ item.jobtitle }}</p>

  <br>

  <p style="color: darkgray;">الشهادة</p>
  <h2 style="margin-top:-15px;">{{ item.certification }}</h2>

  <p style="color: darkgray;" *ngIf="item.specialties != ''">الاختصاص</p>
  <h2 *ngIf="item.specialties != ''" style="margin-top:-15px;">{{ item.specialties }}</h2>

  <p style="color: darkgray;">تاريخ الانتساب</p>
  <h2 style="margin-top:-15px;">{{ item.commencement }}</h2>

  <p style="color: darkgray;" *ngIf="item.lessons != ''">المادة</p>
  <h2 *ngIf="item.lessons != ''" style="margin-top:-15px;">{{ item.lessons }}</h2>

  <p style="color: darkgray;" *ngIf="item.class != ''">الصف</p>
  <h2 *ngIf="item.class != ''" style="margin-top:-15px;">{{ item.class }}</h2>

</ion-content>