<ion-header>

  <ion-toolbar>
    <p style="font-size: 16px; color:black; text-align: center;">نبذة عن المدرسة</p>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-item dir="rtl" class="note" (click)="goToInstallments()" *ngIf="isLoggedIn && isDelayed">
    <p style="color:white !important;">استحق موعد احد الاقساط</p>
    <ion-avatar item-start>
      <img src="assets/imgs/ic_warn.png" width="20" height="20" />
    </ion-avatar>
  </ion-item>
  <div *ngIf="isDelayed"><br><br><br></div>
  <ion-card style="width: 100% !important; margin-left: 0px; box-shadow: none;">
    <img src="http://manaratech.com/_test/images/aa.jpg" />
    <ion-card-content>
      <ion-card-title>
      </ion-card-title>
      <summary dir="rtl">
        في عام 2005 تزاحمت افكارنا لغايات عدة بينها خدمة
        مدينتنا و تهيئة جيل واع مثقف يقود مدينتنا الحدباء بصورة
        خاصة و عراقنا الحبيب بصورة عامة للارتقاء بهم بمصاف الدول
        المتقدمة فانبثقت فكرة اقامة هذه المؤسسة التربوية
        لتقدم خدمة ثرية لطلابها في مدينة الموصل, تحث على
        الابتكار و بناء الشخصية بعيدا عن التلقين و الاساليب القديمة
        التي تعوق نمو شخصية المتعلم معرفيا و نفسيا من حيث ان
        المدرسة من اكثر الاماكن تاثيرا في شخصية الانسان,
        ففيها يقضي الطالب يوميا وقتا طويلا, يتعرف على
        اصدقاء نسعى ان يكون لهم الاثر الخالد يمتد اثره طوال العمر.
        <br><br>
        لذا كان سعينا للاهتمام بكل ما يوفر لهم الجو النفسي المميز
        مع طرق باب التكنولوجيا و ادخالها في التعليم بمقادير ترفد
        العملية التربوية و بما لا يضر بها, و كنا منذ البداية سباقين في
        ادخال طرق و اساليب تربوية غير مسبوقة على مستوى البلد..
        و كل هذه الغايات لم تكن تتحقق الا من خلال تعاون الادارة
        مع كادر تدريسي مميز و مؤهل و يحمل (رسالة انسانية) تتشرب بها
        روحية مهنته .. و من ثم تعاون اولياء الامور.
        <br><br>
        و سنستمر في الرحلة لرسم المستقبل الاجمل لاغلى و اعز
        ما نملك ... انهم اولادنا .. فنحن البذار و هم الثمار و من الله
        التوفيق.
      </summary>
    </ion-card-content>
  </ion-card>
</ion-content>