page-edit-person {
    text-align: right;
}

.text-input::-moz-placeholder {
    text-align: right;
}
  
.text-input:-ms-input-placeholder {
    text-align: right;
}
  
.text-input::-webkit-input-placeholder {
    text-indent: 0;
    text-align: right;
}

.title-ios {
    text-align:center;
}

.bb{ max-width: 500px;  width: 50%;  margin: 0 auto; display:block;
    text-align: center}