page-about-app {

}

ion-scroll {
    white-space: nowrap;
    height: 700px;
}

.customIcon {
    font-size: 1.7em;
}

h4 {
    text-align: center !important;
}

h5 {
    text-align: center !important;
}

summary {
    text-align: center !important;
}
