<ion-header>
  <ion-item dir="rtl" class="note" (click)="goToInstallments()" *ngIf="isLoggedIn && isDelayed">
    <p style="color:white !important;">استحق موعد احد الاقساط</p>
    <ion-avatar item-start>
        <img src="assets/imgs/ic_warn.png" width="20" height="20"/>
    </ion-avatar>
  </ion-item>
</ion-header>

<ion-content padding dir="rtl">
  <div *ngIf="isDelayed"><br><br><br></div>
  <ion-list *ngFor="let item of items">
    <ion-item>
      <h2>{{ item.exam }}</h2>
      <p>{{ item.exam_date }}</p>
      <br>
      <h4 text-wrap [innerHTML]="item.content"></h4>
    </ion-item>
  </ion-list>
</ion-content>
